*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containar{
    max-width: 1140px;
    background-color: black;
    margin: 50px auto;
    
}

.cube{
    transform: rotate(10deg);
    transform: rotateX('0deg') rotateY(0deg);
    /* transform-style: preserve-3d; */
    /* animation: 5s; */
}

.face{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0px auto;
}

.front{
    background-color: aqua;
    
}

.back{
    background-color: blueviolet;
}

.right{
    background-color: cadetblue;
}

.left{
    background-color: brown;
}

.top{
    background-color: cornflowerblue;
}

.bottom{
    background-color: darkorange;
}