/* #### header #### */

header .logo{
    font-family: var(--oswald);
    font-weight: 800;
    font-size: 34px;
    background-color: var(--red-800);
    transform: skew(35deg);
    border-radius: 10px;
    color:var(--white800);
    padding-left:40px;

}

header ul{
    margin-left: 80px;
}

header ul li{
    padding: 10px;
}
