*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containar{
    max-width: 100%;
}

a{
    text-decoration: none;
    display:inline-block;
}

i{
    display: inline-block;
}

ul li{
    list-style: none;
}

.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-contant-centar{
    justify-content: center;
}

.justify-contant-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

img{
    display: inline-block;
    width: 100%;
}

:root{
    --red-800:red;
    --white-800:white;
    --gray-700:gray;
    --gray-500:#f1f1f1;
    --blue-600:#0007eb;
}

.col-1{
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.h-100 {
    height: 100%;
}