/* #### header #### */

.containt {
    max-width: 1320px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header .logo {
    padding: 30px;
}



header ul {
    text-align: right;
    margin-left: 265px;
}

header ul li {
    padding: 8px;
}

/* #### main #### */

main {
    background-image: linear-gradient(90deg, rgba(128, 145, 189, 0.19) 0%, rgba(151, 157, 173, 0.29) 0%), url(../image/car-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main .main-containt {
    margin: 196px 0 0 96px;
}

main .main-containt h1,
main .main-containt p {
    color: var(--white-800);
    margin: 16px 0 0 0;
}

main .main-containt p {
    margin-bottom: 25px;
}

main .main-containt a {
    color: var(--red-800);
    padding: 10px 30px;
    background-color: var(--white-800);
    font: 20px;
}


/* #### cars-card #### */

.cars-card {
    margin-top: 96px;
}

.cars-card .car-header {
    text-align: center;
    margin-bottom: 50px;
}

.cars-card .car-header h2 {
    font-size: 32px;
}

.cars-card .car-header h2 span {
    color: var(--red-800);
}

.cars-card .car-header p {
    color: var(--gray-700);
}

.cars-card .cars-details {
    margin: 12px;
}

.cars-card .cars-details .col-4 {
    padding: 16px;
}


/* #### services #### */

.services {
    margin-top: 96px;
    padding: 16px 96px;
}

.services .services-header {
    text-align: center;
}

.services .services-header h2 {
    font-size: 32px;
    margin-bottom: 18px;
}

.services .services-header h2 span {
    color: var(--red-800);
}

.services .services-header p {
    color: var(--gray-700);
    margin-bottom: 16px;
}

.services {
    background-color: var(--gray-500);
}

.services .services-card {
    text-align: center;
    background-color: var(--white-800);
    margin: 8px;
    padding: 8px;
}

.services .services-card .icon {
    margin-top: 24px;
}

.services .services-card .icon i {
    color: rgba(220, 81, 81, 0.767);
    font-size: 42px;
    padding: 16px 0;
}

.services .services-card h3 {
    font-size: 24px;
    padding: 16px;
}

.services .services-card p {
    color: var(--gray-700);
    padding: 16px;
}

.services .services-card span {
    color: var(--red-800);
    margin-bottom: 24px;
    display: block;
}

/* #### offers #### */

.offers {
    text-align: center;
    margin-top: 96px;
}

.offers .offers-header h2 {
    font-size: 32px;
    margin-bottom: 16px;
}

.offers .offers-header h2 span {
    color: var(--red-800);
}

.offers .offers-header p {
    color: var(--gray-700);
    margin-bottom: 16px;
}

.offers .car-img {
    padding: 6px 96px;
}

.offers .car-img .image img {
    padding: 5px;
}





/* #### shop reviwe #### */

.shop-reviwe {
    text-align: center;
    background-color: var(--gray-500);
    margin-top: 96px;
    margin-bottom: 96px;
    padding: 0 100px;
}

.shop-reviwe div div div {
    padding: 80px 0;
}

.shop-reviwe div .border .icons {
    text-align: center;
    display: inline-block;
    padding: 0;
}

.shop-reviwe div .icons i {
    border: 2px solid white;
    border-radius: 80%;
    line-height: 1.5;
    font-size: 48px;
    color: var(--red-800);
    padding: 4px;
    background-color: var(--white-800);
}

.shop-reviwe div h2 {
    margin: 20px 0 10px;
    color: var(--red-800);
    font-size: 32px;
}

.shop-reviwe div p {
    font-size: 22px;
}

.shop-reviwe .border {
    border-right: 1px solid gray;
}

.shop-reviwe #b1 {
    border-left: 1px solid gray;
}

/* #### team #### */
.team {
    text-align: center;
}

.team .team-header h2 {
    font-size: 32px;
    padding: 10px 0;
}

.team .team-header h2 span {
    color: var(--red-800);
}

.team .team-header p {
    color: var(--gray-700);
    padding-bottom: 36px;
}

.team .team-card .image {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

.team .team-card {
    padding: 40px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin: 16px;
}

.team .team-details {
    padding: 0 80px;
}

.team .team-details div {
    margin-right: 70px;
    padding-left: 16px;
    text-align: left;
}

.team .team-details .team-card p {
    color: var(--red-800);
    font-size: 18px;
    margin: 8px 0;
}

.team .team-details .team-card .icons {
    padding: 0;
}

.team .team-details .team-card .icons i {
    margin: 0 4px;
}

.team .team-details .team-card .icons i:first-child {
    color: #4867aa;
}

.team .team-details .team-card .icons i:nth-child(2) {
    color: aqua;
}

.team .team-details .team-card .icons i:nth-child(3) {
    color: red;
}

.team .team-details .team-card .icons i:last-child {
    color: blue;
}

/* #### cleint-reviwe #### */

.client-reviwe {
    background-image: url(../image/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.client-reviwe .cilent-header {
    text-align: center;
}

.client-reviwe .cilent-header h2 {
    font-size: 32px;
    padding-top: 64px;
    color: var(--white-800);
}

.client-reviwe .cilent-header h2 span {
    color: var(--red-800);
}

.client-reviwe .cilent-header p {
    color: var(--white-800);
    padding-top: 16px;
    padding-bottom: 64px;
}

.client-reviwe .client-card .image {
    height: 90px;
    width: 90px;
}

.client-reviwe .col-6 {
    padding: 0 12px;
}

.client-reviwe .client-profile {
    padding: 0 96px;
    margin-bottom: 96px;
}

.client-reviwe .client-card {
    background-color: var(--white-800);
    padding: 35px 30px;
    margin-bottom: 96px;

}

.client-reviwe .client-card .image {
    margin-right: 8px;
    margin-bottom: 8px;
}

.client-reviwe .client-card h2 {
    font-size: 28px;
    padding: 8px 0;
}

.client-reviwe .client-card p {
    color: var(--gray-700);
}



/* #### blog #### */

.blog {
    padding: 0 34px;
}

.blog .blog-header {
    text-align: center;
}

.blog .blog-header h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

.blog .blog-header h2 span {
    color: var(--red-800);
}

.blog .blog-header p {
    color: var(--gray-700);
    margin-bottom: 16PX;
}


.blog .blog-details {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.blog .text {
    padding: 20px 40px;
}

.blog .col-8,
.blog .col-4 {
    padding: 0 12px;
}

.blog .date {
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    padding: 24px;
    margin: 0 8px 16px;
}


.blog .date h5 {
    color: var(--red-800);
    font-size: 32px;
}

.blog .details h3 {
    padding-right: 16px;
}


/* #### footer #### */

footer .footer-top {
    background-image:url(../image/bg-2.png);
    padding: 96px 18px;
    background-position: center;
    background-size: cover;
}

footer .footer-top h3 {
    font-size: 25px;
    color: var(--white-800);
}

footer .footer-top a{
    text-align: right;
    padding: 8px;
    margin-left: 500px;
    font-size: 20px;
    color: var(--red-800);
    background-color: var(--white-800);
}


footer .footer-middle{
    background-image: url(../image/bg-.png);
    
}

footer .footer-middle ul li{
    margin-bottom: 20px;
}

footer .footer-middle .image{
    height: 70px;
    width: 70px;
    margin-right: 8px;
}

footer .footer-middle .email{
    display: inline-block;
}

footer .footer-middle .email input{
    padding: 15px 50px;
}

footer .footer-middle .email button{
    padding: 15px 30px;
    background-color: var(--red-800);
    border: none;
    border-radius: 2px;
}

footer .footer-middle .email button i{
    font-size: 16px;
    color: var(--white-800);
}