.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
}