*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containar{
    max-width: 100%;
    margin: 0 auto;
}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.containar h2{
    font-size: 70px;
    color: white;
    margin: 196px 500px;
}
