*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.our-servies .d-flex{
    display: flex;
    flex-wrap: nowrap;
}

.our-servies .d-flex .w{
    width: 25%;
}

.our-servies .d-flex .card{
    width: 300px;
    position: absolute;
    top: 200px;
    margin: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    padding: 80px;
}

.our-servies .card i{
    font-size: 30px;
    margin-left : 45px; 
    margin-bottom: 10px;
}

.our-servies .card h3{
    margin-bottom: 10px;
}

.our-servies .card h4{
    margin-bottom: 10px;
    text-align: justify;    
}

.our-servies .card .read{
    margin: 10px auto;
    color: red;
}

.border{
    border:  2px solid orange;
    position: relative;
    width: 100%;
    height: 50%;
}

.overlay{
    position: absolute;
    right: 10px;
    top: 10px;
    padding-top: 50px;
    background-color: white;
    width: 100%;
    height: 100%;
}