/* #### header #### */

header .header-top{
    background-color: var(--green-900);
}

header .header-top .icon{
    color: var(--green-600);
}

header .header-top p{
    color: var(--white-900);
}

header .header-top div .nav-icon .icon{
    color: var(--white-400);
}

header .header-bottom ul li{
    padding: 0 10px;
}

header .header-bottom .button a{
    background-color: var(--green-600);
    color: var(--white-900);
    padding: 8px 16px;
}