.container{
    text-align: center;
    background-color: gray;
    padding: 20px;  
}


h2{
    color: blue;
}

#quiz{
    margin-top: 20px;
}   

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

button:hover{
    background-color: lightblue;
    cursor: pointer;
}

